<h1>Editing User Activity History</h1>

<%= render 'form', user_activity_history: @user_activity_history %>

<%= link_to 'Show', @user_activity_history %> |
<%= link_to 'Back', user_activity_histories_path %>
